{% extends "layout.html" %}
{% block body %}

    <h3>{{result_title}}</h3>
    {% for image in result_images %}
      <div class='thumbnail span3 image_div'>
        <img src="{{image['file_path']}}" alt="" class="puzzle_thumb img-polaroid">
        <p class='image_name'>  {{image['name']}}</p>
        <p class='image_description'>  {{ image['description'] }}</p>
      </div>
    {% else %}
      <p> There are no images in the database. Populate using the add video button</p>
    {% endfor %}

{% endblock %}
